.product {
    height: 40vh;
    box-shadow: 0 0 4px rgb(152, 146, 146);
    padding: 15px;
    border-radius: 40px;

}

.product:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.product h4 {
    color: rgb(255, 99, 71);
    font-size: 14px;
    padding-top: 5px;

}

.product .price {
    text-align: center;
    color: rgba(0, 0, 0, 0.742);
    font-weight: bolder;
}

input {
    border: 1px solid rgb(1, 105, 46) !important;
    outline: none !important;
    box-shadow: none !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.ant-select-selector {
    border: 1px solid rgb(1, 105, 46) !important;
    outline: none !important;
    box-shadow: none !important;
}

.categories {
    width: 100%;
    overflow-x: scroll;
}

.category {
    border: 3px solid #d5d2d2;
    margin-right: 50px;
    align-items: center;
    padding-left: 25px;
    border-radius: 10px;
    cursor: pointer;

}

.category:hover {
    background-color: rgb(2, 56, 56);
    color: #ccc;
}

.category p {
    margin-right: 25px;
}

.category img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 4px;
    margin: -4px;
}

.selected-category {
    border: 3px solid rgb(7, 2, 74);

}

@media only screen and (max-width:600px) {
    .categories {
        width: 100%;
        overflow-x: scroll;
    }
}